@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
  }
}

.dark .dark\:bg-Pic-dark {
  background-image: url("../public/img/qcl watermark min.png");
  background-size: 100% 100%;
}

.bg-Pic {
  background-image: url("../public/img/qcl watermark black min.png");
  background-size: 100% 100%;
}
body {
  /* overflow-y: auto; */
  /* Enable vertical scrolling */
  overflow: scroll;
  scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
  /* height: 300px; Set the height of the container */
  margin-top: 32px;
}

.snapContainer {
  /* overflow-y: auto; */
  /* Enable vertical scrolling */
  scroll-snap-type: y proximity; /* Enable vertical scroll snapping */
  /* height: 10vh; */
  overflow: scroll;
  /* scroll-snap-points-y: repeat(100vh); */
  /* height: 300px; Set the height of the container */
}

.snapItem {
  scroll-snap-align: start; /* Snap the items to the start of the container */
  scroll-snap-stop: always;
  /* height: 100px; Set the height of each item */
}
